@media (min-width: 768px) {
  nav {
    padding: 1.5rem 2.5rem;
  }

  .nav-links ul li a::after {
    background-color: #000;
  }

  nav #logo {
    font-size: 1.5rem;
  }

  nav .nav-links {
    font-size: 1.2rem;
  }

  nav a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    letter-spacing: 1.5px;
  }

  .nav-links {
    display: flex;
    position: static;
    background: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    color: inherit;
    height: auto;
    width: auto;
    z-index: auto;
  }

  .nav-links ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.3rem;
    gap: 2rem;
    text-transform: uppercase;
  }

  .togglers {
    display: none;
  }

  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  header span {
    font-size: 1.2rem;
  }

  header .container h1 {
    font-size: 2.5rem;
  }

  header .container p {
    font-size: 1.2rem;
  }

  .btn-navigation {
    margin-top: 2rem;
    gap: 2rem;
  }

  .btn-navigation a {
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
  }

  .main-container h2 {
    font-size: 2rem;
  }

  .skills {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
  }

  .about-section .container {
    padding: 2rem;
  }

  .about-bio h1 {
    font-size: 2.5rem;
  }

  .experience-item {
    padding-left: 2rem;
  }

  .contact-header h1 {
    font-size: 3rem;
  }

  .contact-content {
    grid-template-columns: 1fr;
    align-items: start;
    max-width: 600px;
    margin: 0 auto;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-around;
  }

  nav #logo {
    font-size: 2rem;
  }

  nav .nav-links {
    font-size: 1.5rem;
  }

  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  header span {
    font-size: 1.5rem;
  }

  header .container h1 {
    font-size: 3rem;
  }

  header .container p {
    font-size: 1.5rem;
  }

  .btn-navigation {
    margin-top: 3rem;
    gap: 4rem;
  }

  .btn-navigation a {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }

  .main-container h2 {
    font-size: 2.5rem;
  }

  .skills {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    align-items: center;
    width: 100%;
  }

  .about-bio {
    text-align: left;
  }

  .profile-photo img {
    width: 220px;
    height: 220px;
  }

  .about-skills h2,
  .about-experience h2 {
    text-align: center;
    margin-top: 6rem;
  }

   .contact-content {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    max-width: 1000px;
    margin: 0 auto;
  }

  .contact-header h1 {
    font-size: 3.5rem;
  }

  .contact-section {
    padding: 8rem 0 6rem 0;
  }
}
